<HTML>
<HEAD>
<TITLE>Upload</TITLE>
</HEAD>
<BODY>

<title>Upload image</title> 
<header>
<h1>
<center>
Image Upload
</center>
</h1>
</header>
<hr>
Please input or select the path of the image!
<form name="upload-image" method="POST" enctype="multipart/form-data" action="upload">

<table>
  <tr>
    <th>File path: </th>
    <td><input name="file-path" type="file" size="30" ></input></td>
  </tr>
<!-- -providing some required information, including a unique user name, password, first name, last name, address, email, and phone number -->
		<CENTER>
			<TABLE>
				<TR VALIGN=TOP ALIGN=CENTER>
					<TD><B><I>Place:</I></B></TD>
					<TD><INPUT TYPE="text" NAME="place"><BR></TD>
				</TR>
				<TR VALIGN=TOP ALIGN=CENTER>
					<TD><B><I>Date:</I></B></TD>
					<TD><INPUT TYPE="date" NAME="timing"></TD>
				</TR>
				<TR VALIGN=TOP ALIGN=CENTER>
					<TD><B><I>Subject:</I></B></TD>
					<TD><INPUT TYPE="text" NAME="subject"></TD>
				</TR>
				<TR VALIGN=TOP ALIGN=CENTER>
					<TD><B><I>Description:</I></B></TD>
					<TD><TEXTAREA style="resize:none;" NAME="desc"></TEXTAREA></TD>
				</TR>

				<TR VALIGN=TOP ALIGN=CENTER>
				<TD><B><I>Access:</I></B></TD>
				<TD>
					<select name="permitted">
						<option value="2">Private</option>
				    	<option value="1">Public</option>
				    	<% for (int i = 0; i < group_names.size(); i++) { %>
				    		<option value="<%=group_ids.get(i)%>"><%=group_names.get(i)%></option>
				    	<% } %>
					</select>
				</TD>
			</TR>
			</TABLE>
		</CENTER>

	  <tr>
    <td ALIGN=CENTER COLSPAN="2"><input type="submit" name=".submit" 
     value="Upload"></td>
  </tr>

	</body>
</HTML>
